<!DOCTYPE html>
<html lang="en-us" class="text-white bg-blue-300 js-focus-visible">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
    <title>Avime</title>
    <meta name="description" content="Ten thousand entirely customizable anime-inspired NFT avatars. Fully encoded on the Ethereum blockchain. No IPFS Baka!">
    <meta name="twitter:title" content="Avime">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@avimenft">
    <meta name="twitter:description" content="Ten thousand entirely customizable anime-inspired NFT avatars. Fully encoded on the Ethereum blockchain. No IPFS Baka!">
    <meta name="twitter:image" content="https://avime.moe/images/twitter-large-card.jpg">
    <meta name="twitter:creator" content="@avimenft">
    <meta property="og:title" content="Avime">
    <meta property="og:url" content="https://avime.moe">
    <meta property="og:type" content="article">
    <meta property="og:description" content="Ten thousand entirely customizable anime-inspired NFT avatars. Fully encoded on the Ethereum blockchain. No IPFS Baka!">
    <meta property="og:image" content="https://avime.moe/images/twitter-large-card.jpg">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/images/site.webmanifest">
    <link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#62d0ff">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <meta name="msapplication-TileColor" content="#62d0ff">
    <meta name="msapplication-config" content="/images/browserconfig.xml">
    <meta name="theme-color" content="#62d0ff">
    <link rel="preload" href="/styles/app.css" as="style" />
    <link rel="preload" href="/scripts/web3.js" as="script">
    <link rel="preload" href="/scripts/app.js" as="script">
    <link rel="stylesheet" href="/styles/app.css">
  </head>

  <body class="min-h-screen">
    <div id="app" role="application">
      <header class="relative text-white bg-blue-400" id="hero">
        <div class="relative z-10 max-w-xl px-4 py-16 mx-auto text-center sm:px-6 sm:py-20 lg:py-36 lg:px-8 lg:max-w-6xl">
          <h1 class="mb-8 text-center lg:mb-12">
            <img class="block w-[160px] h-[64px] max-w-xs mx-auto lg:w-[320px] lg:h-[120px]" src="/images/logo.png" alt="Avime" width="160" height="64">
          </h1>

          <div class="p-2 mx-auto mb-8 overflow-hidden bg-blue-500 border border-black rounded-xl lg:mb-12 shadow-inset-blue-box w-max">
            <div class="relative gap-6 p-3 overflow-hidden text-black bg-blue-100 border-2 border-blue-600 rounded-lg w-max">
              <picture class="block bg-gray-300 border-2 border-black rounded-md w-max">
                <img class="block w-[160px] h-[160px] bg-gray-400 rounded lg:w-[320px] lg:h-[320px]" src="/images/avime_hero.gif" alt="Fused Avimes">
              </picture>
            </div>
          </div>

          <ul class="max-w-xl mx-auto mt-3 text-2xl leading-8 tracking-wider text-center text-white lowercase lg:text-3xl font-heading">
            <li class="mb-4">10,000 entirely customizable anime-inspired NFT avatars.</li>
            <li class="text-lg">Fully encoded on the Ethereum blockchain.</li>
            <li class="text-lg">No IPFS, baka!</li>
          </ul>
        </div>

        <div class="absolute inset-0 z-0 w-full h-full opacity-10" id="hero-bg"></div>
      </header>

      <section class="bg-blue-500 border-t border-b border-black" id="mint" x-data>
        <div class="relative z-10 max-w-xl px-4 py-16 mx-auto text-center sm:px-6 sm:py-20 lg:px-8 lg:max-w-6xl">
          <div x-show="!$store.avime.walletConnected">
            <h2 class="text-3xl leading-8 tracking-wider text-center text-yellow-400 lowercase lg:text-4xl text-shadow-heading-darker font-heading">Waifu NFTs? Say no more.</h2>
            <p class="mt-4 text-lg leading-6 text-white">Connect your wallet below to mint your 6 traits!</p>
            <button class="inline-flex items-center justify-center w-full px-5 py-3 mt-8 text-base font-medium text-white uppercase bg-green-500 border border-black rounded hover:bg-green-600 sm:w-auto shadow-inset-white" id="eth-login">Connect Wallet</button>
          </div>

          <div class="p-4 bg-blue-500 border border-black rounded bg-gradient-to-b from-[#1a75a4] to-blue-500 lg:p-7" id="mint-interface" x-show="$store.avime.walletConnected" x-cloak style="display: none;">
            <div class="flex flex-col items-center justify-between lg:flex-row">
              <div class="mb-4 text-center lg:text-left lg:mb-0">
                <h2 class="mb-2 text-3xl leading-8 tracking-wider text-yellow-400 lowercase lg:text-4xl text-shadow-heading-darker font-heading">Minting Avime</h2>
                <p class="leading-none">Wallet: <span x-text="$store.avime.walletAddress"></span></p>
              </div>

              <p class="text-center lg:text-left">
                <button class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-white uppercase bg-green-500 border border-black rounded hover:bg-green-600 shadow-inset-white" id="mint-traits" x-on:click="$dispatch('modal-mint')">Mint 6 Traits (Price: 0.09 ETH)</button>
              </p>
            </div>

            <hr class="my-4 border-t border-b lg:my-8 border-b-blue-100 border-t-blue-900">

            <div class="flex flex-col mx-auto mb-8 space-y-8 lg:flex-row w-max lg:space-y-0 lg:space-x-8">
              <div class="flex flex-col items-center justify-center">
                <p class="mb-4 leading-none uppercase">Fusion Preview</p>

                <div class="p-2 overflow-hidden bg-blue-500 border border-black rounded-lg shadow-inset-blue-box">
                  <div class="relative gap-4 p-3 overflow-hidden text-black bg-blue-100 border-2 border-blue-600 rounded-md">
                    <div class="overflow-hidden border-2 border-black rounded">
                      <div class="relative w-[160px] h-[160px] bg-gray-500 lg:w-[320px] lg:h-[320px]">
                        <template x-for="trait in ['background', 'body', 'face', 'clothes', 'hair', 'accessory']">
                          <img class="absolute inset-0 block w-[160px] h-[160px] max-w-none max-h-none lg:w-[320px] lg:h-[320px] rounded-sm" x-bind:src="('/images/traits/' + trait + '/layers/' + $store.fusion.gender.toLowerCase() + '/' + $store.fusion.traits[trait] + '.png')" alt="" onerror="(this.src = 'data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=')">
                        </template>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="flex flex-col text-center">
                <p class="mb-4 leading-none uppercase">Selected Traits</p>

                <div class="grid grid-cols-3 gap-4 mx-auto mb-4 lg:mb-8 w-max">
                  <template x-for="trait in ['Background', 'Body', 'Face', 'Clothes', 'Hair', 'Accessory']">
                    <button class="image-bevel" x-on:click="($store.fusion.traits[trait.toLowerCase()] = 'default')">
                      <img class="rounded w-[43px] h-[43px] lg:w-[86px] lg:h-[86px]" x-bind:src="('/images/traits/' + trait.toLowerCase() + '/thumbnails/' + $store.fusion.traits[trait.toLowerCase()] + '.png')" x-bind:alt="trait">
                    </button>
                  </template>
                </div>

                <p class="mb-4 leading-none uppercase">Selected Gender</p>

                <p class="grid grid-cols-2 gap-4">
                  <template x-for="gender in ['Female', 'Male']">
                    <button class="inline-flex items-center justify-center px-5 py-2 text-base font-medium uppercase border border-black rounded shadow-inset-blue-100" :class="{ 'bg-blue-600 border-blue-100 shadow-inset-blue-900': $store.fusion.gender === gender}" x-on:click="($store.fusion.gender = gender)" x-text="gender"></button>
                  </template>
                </p>

                <p class="flex mt-auto">
                  <button class="inline-flex items-center justify-center w-full px-5 py-3 text-base font-medium text-white uppercase bg-green-500 border border-black rounded scroll-lock hover:bg-green-600 shadow-inset-white" id="fuse-avime" x-on:click="$dispatch('modal-fuse')">Fuse Your Avime</button>
                </p>
              </div>
            </div>

            <ul class="relative flex flex-col w-full lg:flex-row lg:h-[253px]" id="fuse-traits-list" x-data="{ tab: 'Background' }">
              <template x-for="trait in ['Background', 'Body', 'Face', 'Clothes', 'Hair', 'Accessory']">
                <li class="z-20 flex-1 text-center border-t border-l border-r rounded-t lg:first:rounded-t-none lg:first:rounded-tl lg:last:rounded-t-none lg:last:rounded-tr" :class="{ 'z-10 border-transparent': (tab !== trait), 'z-20 bg-blue-600 border-black shadow-tab-blue-100': (tab === trait) }" x-bind:id="('mint-traits-tab-' + trait.toLowerCase())">
                  <button class="relative z-10 block w-full p-2 uppercase rounded-t bg-inherit" x-on:click="(tab = trait)" x-text="trait"></button>

                  <div class="static lg:absolute top-[40px] p-1 left-0 w-full bg-blue-600 border border-black lg:rounded-b shadow-blue-100" x-show="(tab === trait)" x-cloak style="display: none;">
                    <ul class="flex flex-wrap items-center justify-center mx-auto" x-bind:id="('mint-traits-list-' + trait.toLowerCase())">
                      <template x-for="i in 15">
                        <li class="flex items-center justify-center p-2 h-max">
                          <button class="image-bevel w-[43px] h-[43px] lg:w-[86px] lg:h-[86px]" x-bind:id="('trait-' + trait.toLowerCase() + '-' + i)" x-on:click="$store.fusion.traits[trait.toLowerCase()] = i">
                            <img class="relative rounded w-[43px] h-[43px] lg:w-[86px] lg:h-[86px]" x-bind:src="(`/images/traits/${trait.toLowerCase()}/thumbnails/${i}.png`)" x-bind:alt="(trait + ' Trait ' + i)" onerror="(this.src = 'data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=')">
                          </button>
                        </li>
                      </template>
                    </ul>
                  </div>
                </li>
              </template>
            </ul>
          </div>
        </div>
      </section>

      <section class="py-16 overflow-hidden text-black lg:py-24" id="about" x-data>
        <div class="relative max-w-xl px-4 mx-auto sm:px-6 lg:px-8 lg:max-w-7xl">
          <h2 class="text-3xl leading-8 tracking-wider text-center text-yellow-400 lowercase lg:text-4xl text-shadow-heading font-heading">owo, What's This?</h2>
          <p class="mt-4 text-base text-center">Each time you mint during SEASON 1 you will receive 6 different NFTs- 1 from each of these 6 categories:</p>

          <div class="grid grid-cols-1 gap-2 mx-auto my-8 sm:grid-cols-2 lg:my-12 xl:grid-cols-3 w-max">
            <template x-for="trait in ['Background', 'Body', 'Face', 'Clothes', 'Hair', 'Accessory']">
              <img class="block w-[328px] h-[327px] lg:w-[362px] lg:h-[361px]" x-bind:src="('/images/traits/cards/' + trait.toLowerCase() + '.png')" x-bind:alt="trait">
            </template>
          </div>

          <p class="max-w-4xl mx-auto my-4 text-base text-center">There will only be enough traits to create 10k Avime. Every fused Avime will reduce the number of circulating traits by 6. Fused Avime cannot be disassembled. You will need 1 trait NFT from EACH category to create an Avime.</p>

          <dl class="mb-8 space-y-10 lg:space-y-0 lg:grid lg:grid-cols-3 lg:gap-8">
            <div>
              <dt class="mt-5 text-base font-medium leading-6 text-gray-900">Minting 1 Time</dt>
              <dd class="mt-2 text-base">You receive 6 trait NFTs. These can be fused to create 1 Avime.</dd>
            </div>

            <div>
              <dt class="mt-5 text-base font-medium leading-6 text-gray-900">Minting 3 Times</dt>
              <dd class="mt-2 text-base">You receive 18 trait NFTs. These can be fused to create 3 different Avime.</dd>
            </div>

            <div>
              <dt class="mt-5 text-base font-medium leading-6 text-gray-900">Minting 5 Times</dt>
              <dd class="mt-2 text-base">You receive 30 trait NFTs. These can be fused to create 5 different Avime.</dd>
            </div>
          </dl>

          <p class="max-w-4xl mx-auto text-base text-center">This means the total amount of traits minted this season will be 60k. The roadmap is 100% fulfilled when all 60k traits have been minted!</p>
        </div>
      </section>

      <section class="py-12 bg-blue-100 lg:py-10" id="faqs" x-data>
        <div class="relative z-10 max-w-xl px-4 mx-auto sm:px-6 lg:px-8 lg:max-w-6xl">
          <h2 class="mb-8 text-3xl tracking-wider text-center text-yellow-400 lowercase lg:mb-12 lg:text-4xl text-shadow-heading font-heading">Frequently Asked Questions</h2>

          <div class="overflow-hidden bg-yellow-400 border-2 border-blue-500 rounded-md shadow-inset-yellow-box">
            <dl class="">
              <template x-for="item in $store.avime.faqs" :key="item.id">
                <div class="border-t border-b border-b-yellow-600 border-t-yellow-100" x-data="{ open: false }">
                  <dt class="text-base">
                    <button type="button" class="flex items-center justify-between w-full px-4 py-2 text-left text-black uppercase" x-on:click="open = !open" x-bind:aria-controls="('faq-' + item.id)" aria-expanded="false" x-bind:aria-expanded="open.toString()">
                      <span class="font-normal" x-text="item.question"></span>
                      <span class="flex items-center ml-6 h-7">
                        <svg class="w-6 h-6 text-blue-500 transform -rotate-180" xmlns="http://www.w3.org/2000/svg" :class="{ '-rotate-180': open, 'rotate-0': !(open) }" x-state:on="Open" x-state:off="Closed" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                        </svg>
                      </span>
                    </button>
                  </dt>

                  <dd class="p-4" x-bind:id="('faq-' + item.id)" x-show="open">
                    <p class="text-yellow-900" x-text="item.answer"></p>
                  </dd>
                </div>
              </template>
            </dl>
          </div>
        </div>
      </section>

      <section class="py-12 lg:py-20" id="roadmap" x-data>
        <div class="relative z-10 max-w-xl px-4 mx-auto sm:px-6 lg:px-8 lg:max-w-6xl">
          <div class="pt-2 pl-2 pr-2 mx-auto -mb-1 overflow-hidden bg-blue-500 border-t border-l border-r border-black rounded-t-lg sm:pt-3 sm:pl-3 sm:pr-3 shadow-inset-blue-box w-max">
            <div class="pt-4 pb-3 pl-2 pr-2 overflow-hidden text-black bg-blue-100 border-t-2 border-l-2 border-r-2 border-blue-600 sm:pb-4 sm:pt-6 sm:pl-8 sm:pr-8 rounded-t-md">
              <h2 class="relative z-10 text-3xl tracking-wider text-center text-yellow-400 lowercase lg:text-4xl text-shadow-heading font-heading">
                <span class="block">Roadmap</span>
                <span class="relative inline-block px-2 py-1 font-sans text-base font-medium tracking-wide text-white uppercase heading-label text-shadow-blue">Season 1</span>
              </h2>
            </div>
          </div>

          <div class="p-2 overflow-hidden bg-blue-500 border border-black rounded-lg sm:p-3 shadow-inset-blue-box">
            <div class="relative grid grid-cols-1 gap-6 p-8 overflow-hidden text-black bg-blue-100 border-2 border-blue-600 rounded-md lg:gap-4 lg:grid-cols-2">
              <article class="relative z-10 col-span-1 text-center lg:col-start-1 lg:row-start-1 lg:pr-6">
                <h3 class="inline-block px-2 py-1 mb-2 font-medium tracking-wide text-white uppercase bg-blue-500 border border-black rounded shadow-inset-white">20% Minted</h3>

                <div class="relative z-10 p-2 text-center text-black bg-yellow-200 border border-black rounded sm:p-5 xl:p-6 shadow-inset-white">
                  <p class="font-medium">Airdrop individual Avime trait NFTs to 30 lucky holders.</p>
                  <div class="absolute z-0 h-4 hidden lg:block transform -translate-y-1/2 bg-yellow-500 border-t border-b w-[25px] left-[calc(100%+1px)] border-t-white border-b-black top-1/2"></div>
                </div>
              </article>

              <article class="relative z-10 col-span-1 text-center lg:col-start-2 lg:row-start-2 lg:pl-6">
                <h3 class="inline-block px-2 py-1 mb-2 font-medium tracking-wide text-white uppercase bg-blue-500 border border-black rounded shadow-inset-white">40% Minted</h3>

                <div class="relative z-10 p-2 text-center text-black bg-yellow-300 border border-black rounded sm:p-5 xl:p-6 shadow-inset-white">
                  <p class="font-medium">Auction off a custom honoray 1/1 Avime for charity.</p>
                  <div class="absolute z-0 h-4 hidden lg:block transform -translate-y-1/2 bg-yellow-500 border-t border-b w-[25px] right-[calc(100%+1px)] border-t-white border-b-black top-1/2"></div>
                </div>
              </article>

              <article class="relative z-10 col-span-1 text-center lg:row-start-3 lg:pr-6">
                <h3 class="inline-block px-2 py-1 mb-2 font-medium tracking-wide text-white uppercase bg-blue-500 border border-black rounded shadow-inset-white">60% Minted</h3>

                <div class="relative z-10 p-2 text-center text-black bg-yellow-400 border border-black rounded sm:p-5 xl:p-6 shadow-inset-white">
                  <p class="font-medium">Begin development on Avime Season 2!</p>
                  <div class="absolute z-0 h-4 hidden lg:block transform -translate-y-1/2 bg-yellow-500 border-t border-b w-[25px] left-[calc(100%+1px)] border-t-white border-b-black top-1/2"></div>
                </div>
              </article>

              <article class="relative z-10 col-span-1 text-center lg:col-start-2 lg:row-start-4 lg:pl-6">
                <h3 class="inline-block px-2 py-1 mb-2 font-medium tracking-wide text-white uppercase bg-blue-500 border border-black rounded shadow-inset-white">80% Minted</h3>

                <div class="relative z-10 p-2 text-center text-black bg-yellow-300 border border-black rounded sm:p-5 xl:p-6 shadow-inset-white">
                  <p class="font-medium">Use a percentage of secondary sales to create a liquidity pool on NFTX or NFT20.</p>
                  <div class="absolute z-0 h-4 hidden lg:block transform -translate-y-1/2 bg-yellow-500 border-t border-b w-[25px] right-[calc(100%+1px)] border-t-white border-b-black top-1/2"></div>
                </div>
              </article>

              <article class="relative z-10 col-span-1 text-center lg:translate-x-1/2 lg:row-start-5">
                <h3 class="inline-block px-2 py-1 mb-2 font-medium tracking-wide text-white uppercase bg-blue-500 border border-black rounded shadow-inset-white">100% Minted</h3>

                <div class="relative z-10 p-2 text-center text-black bg-yellow-500 border border-black rounded sm:p-5 xl:p-6 shadow-inset-white">
                  <p class="font-medium">Verify contract code. Begin development of 2D sprite sheets of Avime to use in a metaverse.</p>
                </div>
              </article>

              <div class="absolute top-0 z-0 w-4 h-full col-span-1 -translate-x-1/2 bg-yellow-500 border-l border-r left-1/2 border-l-black border-r-white"></div>
            </div>
          </div>
        </div>
      </section>

      <section class="py-12 bg-blue-300 border-t border-b border-black lg:py-20" id="team" x-data>
        <div class="relative z-10 max-w-xl px-4 mx-auto sm:px-6 lg:px-8 lg:max-w-7xl">
          <div class="space-y-12 text-center">
            <div class="space-y-5 sm:mx-auto sm:max-w-xl sm:space-y-4 lg:max-w-4xl">
              <h2 class="text-3xl tracking-wider text-yellow-400 lowercase lg:text-4xl text-shadow-heading-darker font-heading">Meet the team</h2>
            </div>

            <ul role="list" class="grid grid-cols-1 gap-2 mx-auto sm:grid-cols-2 w-max lg:grid-cols-3 xl:grid-cols-5">
              <template x-for="staff in $store.avime.staff">
                <li>
                  <a class="block p-1 text-black bg-blue-500 border border-black rounded-md shadow-inset-blue-100" target="_blank" rel="noopener" x-bind:href="staff.url">
                    <div class="z-10 px-2 pt-2 pb-0 bg-blue-100 border border-blue-600 rounded">
                      <picture class="block mx-auto mb-2 border border-black rounded shadow-inset-white w-max">
                        <img class="w-[160px] h-[160px] rounded-sm" x-bind:src="staff.image" x-bind:alt="('Photo of ' + staff.name)">
                      </picture>

                      <h3 class="bg-yellow-400 border border-black rounded shadow-inset-white" x-text="staff.name">Name</h3>
                      <p class="relative z-10 inline-block px-2 py-1 tracking-wide text-white uppercase heading-label text-shadow-blue" x-text="staff.title">Title</p>
                    </div>
                  </a>
                </li>
              </template>
            </ul>
          </div>
        </div>
      </section>

      <footer class="bg-blue-900" id="footer">
        <div class="px-4 py-12 mx-auto overflow-hidden max-w-7xl sm:px-6 lg:px-8">
          <nav class="flex flex-wrap justify-center -mx-5 -my-2" aria-label="Footer">
            <div class="px-5 py-2">
              <a href="#about" class="text-base text-white uppercase hover:text-gray-900">About</a>
            </div>

            <div class="px-5 py-2">
              <a href="#faqs" class="text-base text-white uppercase hover:text-gray-900">FAQ</a>
            </div>

            <div class="px-5 py-2">
              <a href="#roadmap" class="text-base text-white uppercase hover:text-gray-900">Roadmap</a>
            </div>

            <div class="px-5 py-2">
              <a href="#team" class="text-base text-white uppercase hover:text-gray-900">Team</a>
            </div>
          </nav>

          <div class="flex justify-center mt-8 space-x-6">
            <a class="text-white" href="https://discord.gg/ZbRwhKXnSy" rel="noopener" target="_blank">
              <span class="sr-only">Discord</span>
              <svg class="w-8 h-8 fill-current" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                <g>
                  <rect x="15" y="14" width="1" height="1"/>
                  <rect x="15" y="13" width="1" height="1"/>
                  <rect x="15" y="12" width="1" height="1"/>
                  <rect x="15" y="11" width="1" height="1"/>
                  <rect x="15" y="10" width="1" height="1"/>
                  <rect x="15" y="9" width="1" height="1"/>
                  <rect x="15" y="8" width="1" height="1"/>
                  <rect x="15" y="7" width="1" height="1"/>
                  <rect x="15" y="6" width="1" height="1"/>
                  <rect x="15" y="5" width="1" height="1"/>
                  <rect x="15" y="4" width="1" height="1"/>
                  <rect x="15" y="3" width="1" height="1"/>
                  <rect x="15" y="2" width="1" height="1"/>
                  <rect x="15" y="1" width="1" height="1"/>
                  <rect x="14" y="15" width="1" height="1"/>
                  <rect x="14" y="14" width="1" height="1"/>
                  <rect x="14" y="13" width="1" height="1"/>
                  <rect x="14" y="12" width="1" height="1"/>
                  <rect x="14" y="11" width="1" height="1"/>
                  <rect x="14" y="10" width="1" height="1"/>
                  <rect x="14" y="9" width="1" height="1"/>
                  <rect x="14" y="8" width="1" height="1"/>
                  <rect x="14" y="7" width="1" height="1"/>
                  <rect x="14" y="6" width="1" height="1"/>
                  <rect x="14" y="5" width="1" height="1"/>
                  <rect x="14" y="4" width="1" height="1"/>
                  <rect x="14" y="3" width="1" height="1"/>
                  <rect x="14" y="2" width="1" height="1"/>
                  <rect x="14" y="1" width="1" height="1"/>
                  <rect x="14" width="1" height="1"/>
                  <rect x="13" y="15" width="1" height="1"/>
                  <rect x="13" y="14" width="1" height="1"/>
                  <rect x="13" y="13" width="1" height="1"/>
                  <rect x="13" y="12" width="1" height="1"/>
                  <rect x="13" y="4" width="1" height="1"/>
                  <rect x="13" y="3" width="1" height="1"/>
                  <rect x="13" y="2" width="1" height="1"/>
                  <rect x="13" y="1" width="1" height="1"/>
                  <rect x="13" width="1" height="1"/>
                  <rect x="12" y="15" width="1" height="1"/>
                  <rect x="12" y="14" width="1" height="1"/>
                  <rect x="12" y="13" width="1" height="1"/>
                  <rect x="12" y="3" width="1" height="1"/>
                  <rect x="12" y="2" width="1" height="1"/>
                  <rect x="12" y="1" width="1" height="1"/>
                  <rect x="12" width="1" height="1"/>
                  <rect x="11" y="15" width="1" height="1"/>
                  <rect x="11" y="14" width="1" height="1"/>
                  <rect x="11" y="13" width="1" height="1"/>
                  <rect x="11" y="2" width="1" height="1"/>
                  <rect x="11" y="1" width="1" height="1"/>
                  <rect x="11" width="1" height="1"/>
                  <rect x="10" y="15" width="1" height="1"/>
                  <rect x="10" y="14" width="1" height="1"/>
                  <rect x="10" y="13" width="1" height="1"/>
                  <rect x="10" y="11" width="1" height="1"/>
                  <rect x="10" y="9" width="1" height="1"/>
                  <rect x="10" y="8" width="1" height="1"/>
                  <rect x="10" y="2" width="1" height="1"/>
                  <rect x="10" y="1" width="1" height="1"/>
                  <rect x="10" width="1" height="1"/>
                  <rect x="9" y="15" width="1" height="1"/>
                  <rect x="9" y="14" width="1" height="1"/>
                  <rect x="9" y="13" width="1" height="1"/>
                  <rect x="9" y="12" width="1" height="1"/>
                  <rect x="9" y="9" width="1" height="1"/>
                  <rect x="9" y="8" width="1" height="1"/>
                  <rect x="9" y="2" width="1" height="1"/>
                  <rect x="9" y="1" width="1" height="1"/>
                  <rect x="9" width="1" height="1"/>
                  <rect x="8" y="15" width="1" height="1"/>
                  <rect x="8" y="14" width="1" height="1"/>
                  <rect x="8" y="13" width="1" height="1"/>
                  <rect x="8" y="12" width="1" height="1"/>
                  <rect x="8" y="3" width="1" height="1"/>
                  <rect x="8" y="2" width="1" height="1"/>
                  <rect x="8" y="1" width="1" height="1"/>
                  <rect x="8" width="1" height="1"/>
                  <rect x="7" y="15" width="1" height="1"/>
                  <rect x="7" y="14" width="1" height="1"/>
                  <rect x="7" y="13" width="1" height="1"/>
                  <rect x="7" y="12" width="1" height="1"/>
                  <rect x="7" y="3" width="1" height="1"/>
                  <rect x="7" y="2" width="1" height="1"/>
                  <rect x="7" y="1" width="1" height="1"/>
                  <rect x="7" width="1" height="1"/>
                  <rect x="6" y="15" width="1" height="1"/>
                  <rect x="6" y="14" width="1" height="1"/>
                  <rect x="6" y="13" width="1" height="1"/>
                  <rect x="6" y="12" width="1" height="1"/>
                  <rect x="6" y="9" width="1" height="1"/>
                  <rect x="6" y="8" width="1" height="1"/>
                  <rect x="6" y="2" width="1" height="1"/>
                  <rect x="6" y="1" width="1" height="1"/>
                  <rect x="6" width="1" height="1"/>
                  <rect x="5" y="15" width="1" height="1"/>
                  <rect x="5" y="14" width="1" height="1"/>
                  <rect x="5" y="13" width="1" height="1"/>
                  <rect x="5" y="11" width="1" height="1"/>
                  <rect x="5" y="9" width="1" height="1"/>
                  <rect x="5" y="8" width="1" height="1"/>
                  <rect x="5" y="2" width="1" height="1"/>
                  <rect x="5" y="1" width="1" height="1"/>
                  <rect x="5" width="1" height="1"/>
                  <rect x="4" y="15" width="1" height="1"/>
                  <rect x="4" y="14" width="1" height="1"/>
                  <rect x="4" y="13" width="1" height="1"/>
                  <rect x="4" y="2" width="1" height="1"/>
                  <rect x="4" y="1" width="1" height="1"/>
                  <rect x="4" width="1" height="1"/>
                  <rect x="3" y="15" width="1" height="1"/>
                  <rect x="3" y="14" width="1" height="1"/>
                  <rect x="3" y="13" width="1" height="1"/>
                  <rect x="3" y="3" width="1" height="1"/>
                  <rect x="3" y="2" width="1" height="1"/>
                  <rect x="3" y="1" width="1" height="1"/>
                  <rect x="3" width="1" height="1"/>
                  <rect x="2" y="15" width="1" height="1"/>
                  <rect x="2" y="14" width="1" height="1"/>
                  <rect x="2" y="13" width="1" height="1"/>
                  <rect x="2" y="12" width="1" height="1"/>
                  <rect x="2" y="4" width="1" height="1"/>
                  <rect x="2" y="3" width="1" height="1"/>
                  <rect x="2" y="2" width="1" height="1"/>
                  <rect x="2" y="1" width="1" height="1"/>
                  <rect x="2" width="1" height="1"/>
                  <rect x="1" y="15" width="1" height="1"/>
                  <rect x="1" y="14" width="1" height="1"/>
                  <rect x="1" y="13" width="1" height="1"/>
                  <rect x="1" y="12" width="1" height="1"/>
                  <rect x="1" y="11" width="1" height="1"/>
                  <rect x="1" y="10" width="1" height="1"/>
                  <rect x="1" y="9" width="1" height="1"/>
                  <rect x="1" y="8" width="1" height="1"/>
                  <rect x="1" y="7" width="1" height="1"/>
                  <rect x="1" y="6" width="1" height="1"/>
                  <rect x="1" y="5" width="1" height="1"/>
                  <rect x="1" y="4" width="1" height="1"/>
                  <rect x="1" y="3" width="1" height="1"/>
                  <rect x="1" y="2" width="1" height="1"/>
                  <rect x="1" y="1" width="1" height="1"/>
                  <rect x="1" width="1" height="1"/>
                  <rect y="14" width="1" height="1"/>
                  <rect y="13" width="1" height="1"/>
                  <rect y="12" width="1" height="1"/>
                  <rect y="11" width="1" height="1"/>
                  <rect y="10" width="1" height="1"/>
                  <rect y="9" width="1" height="1"/>
                  <rect y="8" width="1" height="1"/>
                  <rect y="7" width="1" height="1"/>
                  <rect y="6" width="1" height="1"/>
                  <rect y="5" width="1" height="1"/>
                  <rect y="4" width="1" height="1"/>
                  <rect y="3" width="1" height="1"/>
                  <rect y="2" width="1" height="1"/>
                  <rect y="1" width="1" height="1"/>
                </g>
              </svg>
            </a>

            <a class="text-white" href="https://twitter.com/avimenft" rel="noopener" target="_blank">
              <span class="sr-only">Twitter</span>
              <svg class="w-8 h-8 fill-current" aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                <g>
                  <rect x="15" y="14" width="1" height="1"/>
                  <rect x="15" y="13" width="1" height="1"/>
                  <rect x="15" y="12" width="1" height="1"/>
                  <rect x="15" y="11" width="1" height="1"/>
                  <rect x="15" y="10" width="1" height="1"/>
                  <rect x="15" y="9" width="1" height="1"/>
                  <rect x="15" y="8" width="1" height="1"/>
                  <rect x="15" y="7" width="1" height="1"/>
                  <rect x="15" y="6" width="1" height="1"/>
                  <rect x="15" y="5" width="1" height="1"/>
                  <rect x="15" y="4" width="1" height="1"/>
                  <rect x="15" y="3" width="1" height="1"/>
                  <rect x="15" y="2" width="1" height="1"/>
                  <rect x="15" y="1" width="1" height="1"/>
                  <rect x="14" y="15" width="1" height="1"/>
                  <rect x="14" y="14" width="1" height="1"/>
                  <rect x="14" y="13" width="1" height="1"/>
                  <rect x="14" y="12" width="1" height="1"/>
                  <rect x="14" y="11" width="1" height="1"/>
                  <rect x="14" y="10" width="1" height="1"/>
                  <rect x="14" y="9" width="1" height="1"/>
                  <rect x="14" y="8" width="1" height="1"/>
                  <rect x="14" y="7" width="1" height="1"/>
                  <rect x="14" y="6" width="1" height="1"/>
                  <rect x="14" y="5" width="1" height="1"/>
                  <rect x="14" y="4" width="1" height="1"/>
                  <rect x="14" y="3" width="1" height="1"/>
                  <rect x="14" y="2" width="1" height="1"/>
                  <rect x="14" y="1" width="1" height="1"/>
                  <rect x="14" width="1" height="1"/>
                  <rect x="13" y="15" width="1" height="1"/>
                  <rect x="13" y="14" width="1" height="1"/>
                  <rect x="13" y="13" width="1" height="1"/>
                  <rect x="13" y="12" width="1" height="1"/>
                  <rect x="13" y="11" width="1" height="1"/>
                  <rect x="13" y="10" width="1" height="1"/>
                  <rect x="13" y="9" width="1" height="1"/>
                  <rect x="13" y="8" width="1" height="1"/>
                  <rect x="13" y="7" width="1" height="1"/>
                  <rect x="13" y="6" width="1" height="1"/>
                  <rect x="13" y="5" width="1" height="1"/>
                  <rect x="13" y="3" width="1" height="1"/>
                  <rect x="13" y="2" width="1" height="1"/>
                  <rect x="13" y="1" width="1" height="1"/>
                  <rect x="13" width="1" height="1"/>
                  <rect x="12" y="15" width="1" height="1"/>
                  <rect x="12" y="14" width="1" height="1"/>
                  <rect x="12" y="13" width="1" height="1"/>
                  <rect x="12" y="12" width="1" height="1"/>
                  <rect x="12" y="11" width="1" height="1"/>
                  <rect x="12" y="10" width="1" height="1"/>
                  <rect x="12" y="9" width="1" height="1"/>
                  <rect x="12" y="8" width="1" height="1"/>
                  <rect x="12" y="7" width="1" height="1"/>
                  <rect x="12" y="3" width="1" height="1"/>
                  <rect x="12" y="2" width="1" height="1"/>
                  <rect x="12" y="1" width="1" height="1"/>
                  <rect x="12" width="1" height="1"/>
                  <rect x="11" y="15" width="1" height="1"/>
                  <rect x="11" y="14" width="1" height="1"/>
                  <rect x="11" y="13" width="1" height="1"/>
                  <rect x="11" y="12" width="1" height="1"/>
                  <rect x="11" y="11" width="1" height="1"/>
                  <rect x="11" y="10" width="1" height="1"/>
                  <rect x="11" y="9" width="1" height="1"/>
                  <rect x="11" y="8" width="1" height="1"/>
                  <rect x="11" y="2" width="1" height="1"/>
                  <rect x="11" y="1" width="1" height="1"/>
                  <rect x="11" width="1" height="1"/>
                  <rect x="10" y="15" width="1" height="1"/>
                  <rect x="10" y="14" width="1" height="1"/>
                  <rect x="10" y="13" width="1" height="1"/>
                  <rect x="10" y="12" width="1" height="1"/>
                  <rect x="10" y="11" width="1" height="1"/>
                  <rect x="10" y="1" width="1" height="1"/>
                  <rect x="10" width="1" height="1"/>
                  <rect x="9" y="15" width="1" height="1"/>
                  <rect x="9" y="14" width="1" height="1"/>
                  <rect x="9" y="13" width="1" height="1"/>
                  <rect x="9" y="12" width="1" height="1"/>
                  <rect x="9" y="1" width="1" height="1"/>
                  <rect x="9" width="1" height="1"/>
                  <rect x="8" y="15" width="1" height="1"/>
                  <rect x="8" y="14" width="1" height="1"/>
                  <rect x="8" y="13" width="1" height="1"/>
                  <rect x="8" y="2" width="1" height="1"/>
                  <rect x="8" y="1" width="1" height="1"/>
                  <rect x="8" width="1" height="1"/>
                  <rect x="7" y="15" width="1" height="1"/>
                  <rect x="7" y="14" width="1" height="1"/>
                  <rect x="7" y="13" width="1" height="1"/>
                  <rect x="7" y="3" width="1" height="1"/>
                  <rect x="7" y="2" width="1" height="1"/>
                  <rect x="7" y="1" width="1" height="1"/>
                  <rect x="7" width="1" height="1"/>
                  <rect x="6" y="15" width="1" height="1"/>
                  <rect x="6" y="14" width="1" height="1"/>
                  <rect x="6" y="13" width="1" height="1"/>
                  <rect x="6" y="4" width="1" height="1"/>
                  <rect x="6" y="3" width="1" height="1"/>
                  <rect x="6" y="2" width="1" height="1"/>
                  <rect x="6" y="1" width="1" height="1"/>
                  <rect x="6" width="1" height="1"/>
                  <rect x="5" y="15" width="1" height="1"/>
                  <rect x="5" y="14" width="1" height="1"/>
                  <rect x="5" y="3" width="1" height="1"/>
                  <rect x="5" y="2" width="1" height="1"/>
                  <rect x="5" y="1" width="1" height="1"/>
                  <rect x="5" width="1" height="1"/>
                  <rect x="4" y="15" width="1" height="1"/>
                  <rect x="4" y="14" width="1" height="1"/>
                  <rect x="4" y="10" width="1" height="1"/>
                  <rect x="4" y="3" width="1" height="1"/>
                  <rect x="4" y="2" width="1" height="1"/>
                  <rect x="4" y="1" width="1" height="1"/>
                  <rect x="4" width="1" height="1"/>
                  <rect x="3" y="15" width="1" height="1"/>
                  <rect x="3" y="14" width="1" height="1"/>
                  <rect x="3" y="11" width="1" height="1"/>
                  <rect x="3" y="10" width="1" height="1"/>
                  <rect x="3" y="9" width="1" height="1"/>
                  <rect x="3" y="2" width="1" height="1"/>
                  <rect x="3" y="1" width="1" height="1"/>
                  <rect x="3" width="1" height="1"/>
                  <rect x="2" y="15" width="1" height="1"/>
                  <rect x="2" y="14" width="1" height="1"/>
                  <rect x="2" y="13" width="1" height="1"/>
                  <rect x="2" y="11" width="1" height="1"/>
                  <rect x="2" y="10" width="1" height="1"/>
                  <rect x="2" y="9" width="1" height="1"/>
                  <rect x="2" y="8" width="1" height="1"/>
                  <rect x="2" y="7" width="1" height="1"/>
                  <rect x="2" y="1" width="1" height="1"/>
                  <rect x="2" width="1" height="1"/>
                  <rect x="1" y="15" width="1" height="1"/>
                  <rect x="1" y="14" width="1" height="1"/>
                  <rect x="1" y="13" width="1" height="1"/>
                  <rect x="1" y="12" width="1" height="1"/>
                  <rect x="1" y="11" width="1" height="1"/>
                  <rect x="1" y="10" width="1" height="1"/>
                  <rect x="1" y="9" width="1" height="1"/>
                  <rect x="1" y="8" width="1" height="1"/>
                  <rect x="1" y="7" width="1" height="1"/>
                  <rect x="1" y="6" width="1" height="1"/>
                  <rect x="1" y="5" width="1" height="1"/>
                  <rect x="1" y="4" width="1" height="1"/>
                  <rect x="1" y="3" width="1" height="1"/>
                  <rect x="1" y="2" width="1" height="1"/>
                  <rect x="1" y="1" width="1" height="1"/>
                  <rect x="1" width="1" height="1"/>
                  <rect y="14" width="1" height="1"/>
                  <rect y="13" width="1" height="1"/>
                  <rect y="12" width="1" height="1"/>
                  <rect y="11" width="1" height="1"/>
                  <rect y="10" width="1" height="1"/>
                  <rect y="9" width="1" height="1"/>
                  <rect y="8" width="1" height="1"/>
                  <rect y="7" width="1" height="1"/>
                  <rect y="6" width="1" height="1"/>
                  <rect y="5" width="1" height="1"/>
                  <rect y="4" width="1" height="1"/>
                  <rect y="3" width="1" height="1"/>
                  <rect y="2" width="1" height="1"/>
                  <rect y="1" width="1" height="1"/>
                </g>
              </svg>
            </a>
          </div>

          <p class="mt-8 text-base text-center text-green-500">
            <span class="block">&gt;2021</span>
            <span class="block">&gt;implying anyone cares about copyright</span>
          </p>
        </div>
      </footer>
    </div>

    <div id="modals" x-data="{ modal: false }">
      <div class="modal-wrapper" id="fuse-modal" :class="{ 'active': (modal === 'fuse') }" x-on:modal-fuse.window="(modal = 'fuse')">
        <div class="backdrop backdrop-shaded scroll-unlock" x-show.transition.opacity.duration.600ms="modal" x-on:click="modal = false"></div>

        <div class="p-3 rounded modal-panel container-sm b-thin bg-color-background" :class="{ 'active': (modal === 'fuse') }">
          <div class="relative p-2 overflow-hidden bg-blue-500 border border-black rounded-lg sm:p-3 shadow-inset-blue-box">
            <p class="text-3xl tracking-wider text-yellow-400 lowercase lg:text-4xl text-shadow-heading-darker font-heading">Your avime, sir.</p>

            <div class="p-2 mx-auto mb-8 overflow-hidden bg-blue-500 border border-black rounded-xl lg:mb-12 shadow-inset-blue-box w-max">
              <div class="relative gap-6 p-3 overflow-hidden text-black bg-blue-100 border-2 border-blue-600 rounded-lg w-max">
                <picture class="block bg-gray-300 border-2 border-black rounded-md w-max">
                  <img class="block w-[160px] h-[160px] bg-gray-400 rounded lg:w-[320px] lg:h-[320px]" src="/images/avime_hero.png" alt="Fused Avimes">
                </picture>
              </div>
            </div>

            <button class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-white uppercase bg-red-500 border border-black rounded hover:bg-red-600 shadow-inset-white scroll-unlock" x-on:click="modal = false">Close</button>
          </div>
        </div>
      </div>

      <div class="modal-wrapper" id="mint-modal" :class="{ 'active': (modal === 'mint') }" x-on:modal-mint.window="(modal = 'mint')">
        <div class="backdrop backdrop-shaded scroll-unlock" x-show.transition.opacity.duration.600ms="modal" x-on:click="modal = false"></div>

        <div class="p-3 rounded modal-panel container-sm b-thin bg-color-background" :class="{ 'active': (modal === 'mint') }">
          <div class="relative p-2 overflow-hidden bg-blue-500 border border-black rounded-lg sm:p-3 shadow-inset-blue-box">
            <p class="text-3xl tracking-wider text-yellow-400 lowercase lg:text-4xl text-shadow-heading-darker font-heading">Your traits, sir.</p>

            <div class="grid grid-cols-1 gap-2 mx-auto sm:grid-cols-2 xl:grid-cols-3 w-max">
              <template x-for="trait in ['Background', 'Body', 'Face', 'Clothes', 'Hair', 'Accessory']">
                <img class="block w-[328px] h-[327px] lg:w-[362px] lg:h-[361px]" x-bind:src="('/images/traits/cards/' + trait.toLowerCase() + '.png')" x-bind:alt="trait">
              </template>
            </div>

            <button class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-white uppercase bg-red-500 border border-black rounded hover:bg-red-600 shadow-inset-white scroll-unlock" x-on:click="modal = false">Close</button>
          </div>
        </div>
      </div>
    </div>

    <script src="/scripts/web3.js" defer></script>
    <script src="/scripts/app.js" defer></script>
  </body>
</html>
