<!DOCTYPE html>
<html class="text-white bg-blue-300 js-focus-visible" lang="en-us">
  <head>
    <title>Avime</title>
    <include src="meta.html"></include>
  </head>

  <body class="min-h-screen">
    <extends src="app.html">
      <block name="content">
        <include src="wardrobe.html"></include>
        <include src="about.html"></include>
        <include src="roadmap.html"></include>
        <include src="team.html"></include>

        <div class="bg-blue-500 border-2 border-blue-600" id="faqs-wrap">
          <include src="faqs.html"></include>
          <include src="on-chain.html"></include>
        </div>

        <include src="modals.html"></include>
      </block>
    </extends>

    <include src="scripts.html"></include>
  </body>
</html>
