<section class="pt-10 text-center lg:pt-20" id="about" x-data>
  <div class="relative max-w-5xl px-4 mx-auto lg:px-8">
    <h2 class="mb-8 text-3xl leading-8 tracking-wider text-yellow-400 lowercase lg:text-4xl text-shadow-heading font-heading">What is Avime???</h2>
    <p class="max-w-3xl mx-auto mb-6 leading-7">Avime is the first fully on-chain customizable NFT project, featuring artwork heavily inspired by anime. Our custom built contract, on-chain provenance, and customization mechanics make Avime truly stand out in the world of NFTs. With a plethora of customization options, the ability to choose between two body types, and more options planned for release in future updates, Avime gives you the ability to create an avatar that you truly resonate with.</p>
    <h3 class="max-w-3xl mx-auto text-2xl leading-8 tracking-wider text-blue-500 lowercase lg:text-2xl font-heading text-stroke-subheading">Each Avime mint will give you 6 different Avime Trait Cards of varying rarities, one from each of these categories:</h3>

    <div class="grid grid-cols-1 gap-2 mx-auto my-8 overflow-hidden sm:grid-cols-2 lg:my-12 xl:grid-cols-3 lg:w-max">
      <template x-for="trait in ['background', 'body', 'face', 'clothes', 'hair', 'accessory']">
        <button class="text-center" x-on:click="$store.avime.tabs.gallery = trait; $dispatch('modal-gallery')">
          <img class="block mx-auto w-[328px] h-[327px] lg:w-[362px] lg:h-[361px]" alt="" draggable="false" x-bind:src="(`/images/traits/${trait}/${trait}.png`)" x-bind:alt="trait">
        </button>
      </template>
    </div>

    <p class="max-w-3xl mx-auto mb-6 leading-7">Avime Trait Cards are ERC721 NFTs that can be traded on secondary markets, and can be combined in the Wardrobe to create a completed Avime. All Trait Cards combined will be burned upon fusion, meaning the total circulating supply of traits will reduce over time.</p>
    <h3 class="max-w-3xl mx-auto text-2xl leading-8 tracking-wider text-blue-500 lowercase lg:text-2xl font-heading text-stroke-subheading">You will need one trait for EACH category in order to create an Avime.</h3>
    <p class="max-w-3xl mx-auto mt-6 leading-7">There will only ever be enough Trait Cards to create 10k total Avime. Future expansion packs are planned to add more options to customization, but an exchange of already existing Avime Trait Cards will be required to redeem newly introduced ones.</p>
  </div>
</section>
