<footer class="text-center text-white bg-blue-900" id="footer">
  <div class="max-w-3xl px-4 py-10 mx-auto overflow-hidden lg:py-20 lg:px-8">
    <nav class="flex flex-col items-center justify-center -mx-5 -my-2 sm:flex-row" aria-label="Footer">
      <div class="px-5 py-2">
        <a href="#wardrobe" class="text-base text-white uppercase hover:text-white">Wardrobe</a>
      </div>

      <div class="px-5 py-2">
        <a href="#about" class="text-base text-white uppercase hover:text-white">About</a>
      </div>

      <div class="px-5 py-2">
        <a href="#roadmap" class="text-base text-white uppercase hover:text-white">Roadmap</a>
      </div>

      <div class="px-5 py-2">
        <a href="#team" class="text-base text-white uppercase hover:text-white">Team</a>
      </div>

      <div class="px-5 py-2">
        <a href="#faqs" class="text-base text-white uppercase hover:text-white">FAQ</a>
      </div>

      <div class="px-5 py-2">
        <a href="#on-chain" class="text-base text-white uppercase hover:text-white">On-Chain</a>
      </div>
    </nav>

    <p class="mt-8 text-base text-center text-green-500">
      <span class="block">&gt;2021</span>
      <span class="block">&gt;implying anyone cares about copyright</span>
    </p>
  </div>
</footer>
