<footer class="text-white bg-blue-900" id="footer">
  <div class="max-w-3xl px-4 py-16 mx-auto overflow-hidden sm:py-20 sm:px-6 lg:px-8">
    <nav class="flex flex-wrap justify-center -mx-5 -my-2" aria-label="Footer">
      <div class="px-5 py-2">
        <a href="#wardrobe" class="text-base text-white uppercase hover:text-white">Wardrobe</a>
      </div>

      <div class="px-5 py-2">
        <a href="#about" class="text-base text-white uppercase hover:text-white">About</a>
      </div>

      <div class="px-5 py-2">
        <a href="#roadmap" class="text-base text-white uppercase hover:text-white">Roadmap</a>
      </div>

      <div class="px-5 py-2">
        <a href="#team" class="text-base text-white uppercase hover:text-white">Team</a>
      </div>

      <div class="px-5 py-2">
        <a href="#faqs" class="text-base text-white uppercase hover:text-white">FAQ</a>
      </div>

      <div class="px-5 py-2">
        <a href="#on-chain" class="text-base text-white uppercase hover:text-white">On-Chain</a>
      </div>
    </nav>

    <div class="grid grid-cols-2 gap-4 mt-8 md:grid-cols-4">
      <a class="button button--sm button--primary" href="https://discord.gg/avime" rel="noopener" target="_blank">Discord</a>
      <a class="button button--sm button--primary" href="https://opensea.io/collection/avime-s01" rel="noopener" target="_blank">Opensea (Traits)</a>
      <a class="button button--sm button--primary" href="https://opensea.io/collection/avime-fusion" rel="noopener" target="_blank">Opensea (Fusions)</a>
      <a class="button button--sm button--primary" href="https://twitter.com/avimenft" rel="noopener" target="_blank">Twitter</a>
    </div>

    <p class="mt-8 text-base text-center text-green-500">
      <span class="block">&gt;2021</span>
      <span class="block">&gt;implying anyone cares about copyright</span>
    </p>
  </div>
</footer>
