<footer class="text-center text-white bg-blue-900" id="footer">
  <div class="max-w-3xl px-4 py-10 mx-auto overflow-hidden lg:py-20 lg:px-8">
    <nav class="flex flex-col items-center justify-center -mx-5 -my-2 sm:flex-row" aria-label="Footer">
      <div class="px-5 py-2">
        <a href="#wardrobe" class="text-base text-white uppercase hover:text-white">Wardrobe</a>
      </div>

      <div class="px-5 py-2">
        <a href="#about" class="text-base text-white uppercase hover:text-white">About</a>
      </div>

      <div class="px-5 py-2">
        <a href="#roadmap" class="text-base text-white uppercase hover:text-white">Roadmap</a>
      </div>

      <div class="px-5 py-2">
        <a href="#team" class="text-base text-white uppercase hover:text-white">Team</a>
      </div>

      <div class="px-5 py-2">
        <a href="#faqs" class="text-base text-white uppercase hover:text-white">FAQ</a>
      </div>

      <div class="px-5 py-2">
        <a href="#on-chain" class="text-base text-white uppercase hover:text-white">On-Chain</a>
      </div>
    </nav>

    <div class="grid grid-cols-2 gap-4 mt-8 md:grid-cols-4">
      <a class="order-3 button button--sm button--primary md:order-1" href="https://discord.gg/avime" rel="noopener" target="_blank">
        <img class="w-[18px] h-[18px] mr-1" src="/images/discord.png" alt="" style="filter: invert(1);" loading="lazy">
        <span>Discord</span>
      </a>
      <a class="order-1 button button--sm button--primary md:order-2" href="https://opensea.io/collection/avime-s01" rel="noopener" target="_blank">
        <img class="w-[18px] h-[18px] mr-1" src="/images/opensea.png" alt="" style="filter: invert(1);" loading="lazy">
        <span>Opensea (Traits)</span>
      </a>
      <a class="order-2 button button--sm button--primary md:order-3" href="https://opensea.io/collection/avime-fusion" rel="noopener" target="_blank">
        <img class="w-[18px] h-[18px] mr-1" src="/images/opensea.png" alt="" style="filter: invert(1);" loading="lazy">
        <span>Opensea (Fusions)</span>
      </a>
      <a class="order-last button button--sm button--primary" href="https://twitter.com/avimenft" rel="noopener" target="_blank">
        <img class="w-[18px] h-[18px] mr-1" src="/images/twitter.png" alt="" style="filter: invert(1);" loading="lazy">
        <span>Twitter</span>
      </a>
    </div>

    <p class="mt-8 text-base text-center text-green-500">
      <span class="block">&gt;2021</span>
      <span class="block">&gt;implying anyone cares about copyright</span>
    </p>
  </div>
</footer>
