<header class="relative text-white bg-blue-400" id="hero">
  <div class="relative z-10 max-w-xl px-4 py-16 mx-auto text-center sm:px-6 sm:py-20 lg:py-36 lg:px-8 lg:max-w-6xl">
    <h1 class="mb-8 text-center text-4xl font-heading leading-8 tracking-wider text-shadow-heading text-yellow-400 lowercase lg:text-6xl lg:mb-12">SweetBread's Bakery</h1>

    <div class="p-2 mx-auto mb-8 overflow-hidden bg-blue-500 border border-black rounded-xl lg:mb-12 shadow-inset-blue-box w-max">
      <div class="relative gap-6 p-3 overflow-hidden text-black bg-teal-300 border-2 border-blue-600 rounded-lg w-max">
        <picture class="block bg-gray-300 border-2 border-black rounded-md w-max">
          <img
            class="block w-[160px] h-[160px] bg-gray-400 rounded lg:w-[320px] lg:h-[320px]"
            src="/images/sweetbread_hero.gif"
            alt="Fused Avimes"
            draggable="false"
          >
        </picture>
      </div>
    </div>

    <ul class="max-w-xl mx-auto mt-3 text-2xl leading-8 tracking-wider text-center text-white lowercase lg:text-3xl font-heading">
      <li class="mb-4">no rawdawg.</li>
      <li class="text-lg">no derp.</li>
      <li class="text-lg">let's fucking go!</li>
    </ul>
  </div>

  <div class="absolute inset-0 z-0 w-full h-full opacity-10" id="hero-bg"></div>
</header>
