<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
<meta name="description" content="Ten thousand entirely customizable anime-inspired NFT avatars. Fully encoded on the Ethereum blockchain. No IPFS Baka!">
<meta name="twitter:title" content="Avime">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@avimenft">
<meta name="twitter:description" content="Ten thousand entirely customizable anime-inspired NFT avatars. Fully encoded on the Ethereum blockchain. No IPFS Baka!">
<meta name="twitter:image" content="https://avime.moe/images/twitter-large-card.jpg">
<meta name="twitter:creator" content="@avimenft">
<meta property="og:title" content="Avime">
<meta property="og:url" content="https://avime.moe">
<meta property="og:type" content="article">
<meta property="og:description" content="Ten thousand entirely customizable anime-inspired NFT avatars. Fully encoded on the Ethereum blockchain. No IPFS Baka!">
<meta property="og:image" content="https://avime.moe/images/twitter-large-card.jpg">
<link rel="apple-touch-icon" sizes="144x144" href="/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
<link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#62d0ff">
<link rel="shortcut icon" href="/images/favicon.ico">
<meta name="msapplication-TileColor" content="#62d0ff">
<meta name="msapplication-config" content="/images/browserconfig.xml">
<meta name="theme-color" content="#62d0ff">
<link rel="preload" href="/styles/app.css" as="style" />
<link rel="preload" href="/scripts/web3.js" as="script">
<link rel="preload" href="/scripts/web3modal.js" as="script">
<link rel="preload" href="/scripts/web3provider.js" as="script">
<link rel="preload" href="/scripts/app.js" as="script">
<link rel="stylesheet" href="/styles/app.css">
