<section class="pt-10 lg:pt-20" id="roadmap" x-data>
  <div class="relative z-10 max-w-5xl px-4 mx-auto lg:px-8">
    <div class="pt-2 pl-2 pr-2 mx-auto -mb-1 overflow-hidden bg-blue-500 border-t border-l border-r border-black rounded-t-lg sm:pt-3 sm:pl-3 sm:pr-3 shadow-inset-blue-box w-max">
      <div class="pt-4 pb-3 pl-2 pr-2 overflow-hidden text-black bg-teal-300 border-t-2 border-l-2 border-r-2 border-blue-600 sm:pb-4 sm:pt-6 sm:pl-8 sm:pr-8 rounded-t-md">
        <h2 class="relative z-10 text-2xl tracking-wider text-center text-yellow-400 lowercase lg:text-4xl text-shadow-heading font-heading">
          <span class="block">Avime Roadmap</span>
          <span class="relative inline-block px-2 py-1 font-sans text-base font-medium tracking-wide text-white uppercase heading-label text-shadow-blue">Season 1</span>
        </h2>
      </div>
    </div>

    <div class="p-2 overflow-hidden bg-blue-500 border border-black rounded-lg sm:p-3 shadow-inset-blue-box">
      <div class="relative grid grid-cols-1 gap-6 p-8 overflow-hidden text-black bg-teal-300 border-2 border-blue-600 rounded-md lg:gap-4 lg:grid-cols-2">
        <article class="relative z-10 col-span-1 text-center lg:col-start-1 lg:row-start-1 lg:pr-6">
          <h3 class="inline-block px-2 py-1 mb-2 font-medium tracking-wide text-white uppercase bg-green-500 border border-black rounded shadow-inset-white">20% Minted</h3>

          <div class="relative z-10 p-2 text-center text-black bg-yellow-200 border border-black rounded sm:p-5 xl:p-6 shadow-inset-white">
            <p class="font-medium">Airdrop individual trait NFTs to 30 lucky holders.</p>
            <div class="absolute z-0 h-4 hidden lg:block transform -translate-y-1/2 bg-yellow-500 border-t border-b w-[25px] left-[calc(100%+1px)] border-t-white border-b-black top-1/2"></div>
          </div>
        </article>

        <article class="relative z-10 col-span-1 text-center lg:col-start-2 lg:row-start-2 lg:pl-6">
          <h3 class="inline-block px-2 py-1 mb-2 font-medium tracking-wide text-white uppercase bg-blue-500 border border-black rounded shadow-inset-white">40% Minted</h3>

          <div class="relative z-10 p-2 text-center text-black bg-yellow-300 border border-black rounded sm:p-5 xl:p-6 shadow-inset-white">
            <p class="font-medium">Auction off a custom honoray 1/1 Avime for charity.</p>
            <div class="absolute z-0 h-4 hidden lg:block transform -translate-y-1/2 bg-yellow-500 border-t border-b w-[25px] right-[calc(100%+1px)] border-t-white border-b-black top-1/2"></div>
          </div>
        </article>

        <article class="relative z-10 col-span-1 text-center lg:row-start-3 lg:pr-6">
          <h3 class="inline-block px-2 py-1 mb-2 font-medium tracking-wide text-white uppercase bg-blue-500 border border-black rounded shadow-inset-white">60% Minted</h3>

          <div class="relative z-10 p-2 text-center text-black bg-yellow-400 border border-black rounded sm:p-5 xl:p-6 shadow-inset-white">
            <p class="font-medium">Begin development on Avime Season 2!</p>
            <div class="absolute z-0 h-4 hidden lg:block transform -translate-y-1/2 bg-yellow-500 border-t border-b w-[25px] left-[calc(100%+1px)] border-t-white border-b-black top-1/2"></div>
          </div>
        </article>

        <article class="relative z-10 col-span-1 text-center lg:col-start-2 lg:row-start-4 lg:pl-6">
          <h3 class="inline-block px-2 py-1 mb-2 font-medium tracking-wide text-white uppercase bg-blue-500 border border-black rounded shadow-inset-white">80% Minted</h3>

          <div class="relative z-10 p-2 text-center text-black bg-yellow-300 border border-black rounded sm:p-5 xl:p-6 shadow-inset-white">
            <p class="font-medium">Use a percentage of secondary sales to create a liquidity pool on NFTX or NFT20.</p>
            <div class="absolute z-0 h-4 hidden lg:block transform -translate-y-1/2 bg-yellow-500 border-t border-b w-[25px] right-[calc(100%+1px)] border-t-white border-b-black top-1/2"></div>
          </div>
        </article>

        <article class="relative z-10 col-span-1 text-center lg:translate-x-1/2 lg:row-start-5">
          <h3 class="inline-block px-2 py-1 mb-2 font-medium tracking-wide text-white uppercase bg-blue-500 border border-black rounded shadow-inset-white">100% Minted</h3>

          <div class="relative z-10 p-2 text-center text-black bg-yellow-500 border border-black rounded sm:p-5 xl:p-6 shadow-inset-white">
            <p class="font-medium">Verify contract code. Begin development of 2D sprite sheets of Avime to use in a metaverse.</p>
          </div>
        </article>

        <div class="absolute top-0 z-0 w-4 h-full col-span-1 -translate-x-1/2 bg-yellow-500 border-l border-r left-1/2 border-l-black border-r-white"></div>
      </div>
    </div>
  </div>
</section>
