<section class="text-white bg-blue-500 border-t border-b border-blue-800" id="wardrobe" x-data>
  <div class="relative z-10 max-w-[854px] px-4 py-10 mx-auto text-center lg:py-20 lg:px-8">
    <div class="p-4 leading-none uppercase bg-blue-500 border border-blue-800 rounded-xl bg-gradient-to-b lg:p-7" id="wardrobe-interface">
      <include src="wardrobe/header.html"></include>

      <hr class="my-4 border-t border-b lg:my-8 border-b-blue-200 border-t-blue-800">

      <include src="wardrobe/preview.html"></include>
      <include src="wardrobe/inventory.html"></include>
      <include src="wardrobe/fuse.html"></include>
    </div>

    <include src="wardrobe/stats.html"></include>
  </div>
</section>
