<header class="flex flex-col items-center justify-between text-center md:flex-row md:text-left" id="wardrobe-header">
  <div class="mb-4 md:mb-0 w-max">
    <h2 class="mb-3 text-3xl leading-8 tracking-wider text-yellow-400 lowercase lg:text-4xl text-shadow-heading-darker font-heading">Your Wardrobe</h2>
    <p class="leading-none">
      <span>Wallet:</span>
      <span class="normal-case" x-text="formatAddress($store.sweetbread.wallet.address)"></span>
    </p>
  </div>

  <div class="">
    <p class="mb-1 text-sm">Number of packs (Max 10)</p>

    <div class="relative flex items-center justify-center w-full space-x-2 sm:space-x-4">
      <input class="p-2 text-black border border-black rounded shadow-inner lg:p-3" type="number" value="1" min="1" max="10" maxlength="2" pattern="\d*" x-model="$store.sweetbread.mintData.amount">
      <button class="button button--lg button--success lg:button--xl" x-on:click="$store.sweetbread.mint($store.sweetbread.mintData.amount)" x-bind:disabled="$store.sweetbread.currently.minting">Mint <span class="mx-1" x-text="($store.sweetbread.mintData.amount * 6)"></span> Traits (Price: <span class="mx-1" x-text="round($store.sweetbread.mintData.amount * $store.sweetbread.mintData.price)"></span> ETH) <span class="mint-label">That's <span x-text="($store.sweetbread.mintData.amount * 6)"></span> NFTs, baka!</span></button>
    </div>
  </div>
</header>
