<div class="relative mx-auto mb-4 lg:mb-8 sm:max-w-[387px] lg:max-w-[732px]" id="wardrobe-inventory">
  <div class="lg:hidden" id="wardrobe-inventory-select">
    <label for="tabs" class="sr-only">Select a trait</label>

    <select class="block w-full text-white uppercase bg-blue-500 border border-black rounded shadow-inset-blue-100" id="tabs" name="tabs" x-model="$store.avime.tabs.wardrobe">
      <template x-for="trait in ['background', 'body', 'face', 'clothes', 'hair', 'accessory']">
        <option x-text="trait" x-bind:value="trait"></option>
      </template>
    </select>
  </div>

  <nav class="tabs" id="wardrobe-inventory-tabs" aria-label="Inventory Tabs">
    <template x-for="trait in ['background', 'body', 'face', 'clothes', 'hair', 'accessory']">
      <div class="tab" :class="{ 'tab-active': $store.avime.tabs.wardrobe === trait }">
        <label class="tab-label" x-on:click="$store.avime.tabs.wardrobe = trait" x-text="trait"></label>
      </div>
    </template>
  </nav>

  <template x-for="trait in ['background', 'body', 'face', 'clothes', 'hair', 'accessory']">
    <div class="overflow-x-visible overflow-y-scroll bg-blue-600 border border-black rounded-b tab-panel" x-show.transition.in.opacity.duration.600="$store.avime.tabs.wardrobe === trait">
      <ul class="flex flex-wrap items-start py-1 pl-1 lg:py-2 lg:pl-2 pr-0 h-[110px] lg:h-[220px]">
        <template x-for="item in $store.avime.wardrobe[trait]">
          <li class="flex items-center justify-center p-1 m-0 lg:p-2 h-max w-max" x-bind:id="`trait-${item.ID}`" x-data="{ tooltip: false }">
            <button class="image-bevel w-[43px] h-[43px] lg:w-[86px] lg:h-[86px]" data-tooltip x-on:click="$store.avime.select(trait, item)" x-on:mouseover="tooltip = true" x-on:mouseleave="tooltip = false">
              <img class="relative rounded w-[43px] h-[43px] lg:w-[86px] lg:h-[86px]" alt="" x-bind:src="item.thumb" onerror="(this.src = 'data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=')" draggable="false">
            </button>

            <span x-show.transition.origin.top="tooltip" x-cloak style="display: none;">
              <span class="absolute bottom-0 z-10 p-2 -mt-1 text-sm leading-tight text-left transform -translate-x-1/2 translate-y-full w-max">
                <span class="relative overflow-hidden block w-[362px] h-[361px] rounded-[11px] shadow-lg">
                  <img class="absolute inset-0 object-cover w-full h-full" alt="" x-bind:src="item.cardImg">
                  <img class="absolute top-[20px] right-[21px] block w-[43px] h-[43px]" alt="" x-bind:src="item.thumb">
                  <img class="absolute top-[76px] block w-[160px] h-[160px]" :class="{ 'left-[101px]': (trait === 'background'), 'left-[21px]': (trait !== 'background') }" alt="" x-bind:src="item.female">
                  <img class="absolute top-[76px] right-[21px] block w-[160px] h-[160px]" alt="" x-bind:src="item.male" x-show="(trait !== 'background')">
                  <span class="absolute top-[20px] left-[21px] flex items-center w-[265px] h-[43px] px-2 py-3 normal-case leading-none text-sm text-black" x-text="item.name"></span>
                  <span class="absolute bottom-[48px] left-[21px] flex items-start w-[320px] h-[64px] p-2 normal-case text-sm text-black" x-text="item.desc"></span>
                  <span class="absolute bottom-[7px] right-[36px] block w-[63px] text-center text-[0.7rem] text-blue-500 uppercase" x-text="(`ID: ${item.ID}`)"></span>
                </span>
              </span>
            </span>
          </li>
        </template>
      </ul>
    </div>
  </template>
</div>
