<div class="flex flex-wrap items-center justify-center p-3 lg:p-6 max-w-[732px] mx-auto mb-8 overflow-hidden bg-blue-500 border border-black rounded-lg shadow-inset-blue-box" id="wardrobe-preview">
  <div class="flex flex-wrap items-center overflow-hidden bg-blue-600 border border-black rounded-md" id="wardrobe-preview-wrap">
    <div class="relative w-full p-4 border-b rounded-t border-b-blue-900 lg:border-r lg:border-r-blue-200 lg:border-b-0 lg:rounded-l lg:rounded-t-none lg:w-max" id="wardrobe-preview-avime">
      <div class="mx-auto overflow-hidden border-2 border-black rounded-md w-max">
        <div class="relative w-[160px] h-[160px] mx-auto bg-gray-500 lg:w-[320px] lg:h-[320px]">
          <img class="absolute inset-0 block w-[160px] h-[160px] max-w-none max-h-none lg:w-[320px] lg:h-[320px] rounded" x-bind:src="('/images/avime/' + $store.myAvime.selected.sex + '.png')" alt="" draggable="false">

          <template x-for="trait in ['background', 'body', 'face', 'clothes', 'hair', 'accessory']">
            <img class="absolute inset-0 block w-[160px] h-[160px] max-w-none max-h-none lg:w-[320px] lg:h-[320px] rounded-sm" x-bind:src="$store.myAvime.selected.traits[trait][$store.myAvime.selected.sex]" alt="" onerror="(this.src = 'data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=')" draggable="false">
          </template>
        </div>
      </div>
    </div>

    <div class="flex flex-col w-full text-center lg:w-max" id="wardrobe-selected">
      <div class="p-4 border-t border-b border-t-blue-200 lg:border-t-0 border-b-blue-900 lg:border-l lg:border-l-blue-900 lg:rounded-tr" id="wardrobe-selected-traits">
        <p class="mb-[0.85rem]">Traits</p>

        <div class="grid grid-cols-3 gap-4 mx-auto w-max">
          <template x-for="trait in ['background', 'body', 'face', 'clothes', 'hair', 'accessory']">
            <button class="bg-center bg-no-repeat bg-cover image-bevel" x-bind:style="`background-image: url('/images/traits/${trait}/thumbnails/default.png');`" x-on:click="$store.myAvime.deselect(trait)">
              <img class="rounded w-[43px] h-[43px] lg:w-[86px] lg:h-[86px]" x-bind:src="$store.myAvime.selected.traits[trait].thumb" alt="" onerror="(this.src = 'data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=')" draggable="false">
            </button>
          </template>
        </div>
      </div>

      <div class="p-4 border-t rounded-b border-t-blue-200 lg:rounded-b-none lg:rounded-br lg:border-l lg:border-l-blue-900" id="wardrobe-selected-sex">
        <p class="mb-[0.85rem]">Gender</p>

        <p class="grid grid-cols-2 gap-4">
          <template x-for="gender in ['female', 'male']">
            <button class="button button--lg button--primary" :class="{ 'bg-blue-700 border-blue-100 shadow-inset-blue-900': $store.myAvime.selected.sex === gender}" x-on:click="($store.myAvime.selected.sex = gender)" x-text="gender"></button>
          </template>
        </p>
      </div>
    </div>
  </div>
</div>
