<div class="modal-wrapper" id="gallery-modal" :class="{ 'active': (modal === 'gallery') }" x-on:modal-gallery.window="(modal = 'gallery')">
  <div class="backdrop backdrop-shaded scroll-unlock" x-show.transition.opacity.duration.600ms="modal" x-on:click="modal = false"></div>

  <div class="p-3 rounded modal-panel" :class="{ 'active': (modal === 'gallery') }">
    <div class="relative p-6 overflow-hidden text-center text-white bg-blue-500 border border-black rounded-lg shadow-inset-blue-box">
      <p class="mb-4 text-2xl tracking-wider text-yellow-400 lowercase lg:mb-6 lg:text-3xl text-shadow-heading-darker font-heading">Trait Card Gallery</p>

      <div class="relative mx-auto mb-8" id="gallery">
        <div class="sm:hidden">
          <label for="gallery-select" class="sr-only">Select a type</label>
          <select class="block w-full text-white uppercase bg-blue-500 border border-black rounded shadow-inset-blue-100" id="gallery-select" name="tabs" x-model="$store.myAvime.tabs.gallery">
            <template x-for="trait in ['background', 'body', 'face', 'clothes', 'hair', 'accessory']">
              <option x-text="trait" x-bind:value="trait"></option>
            </template>
          </select>
        </div>

        <nav class="relative hidden overflow-hidden border-t border-l border-r border-blue-100 rounded-t sm:flex shadow-black" id="gallery-tabs" aria-label="Inventory Tabs">
          <template x-for="trait in ['background', 'body', 'face', 'clothes', 'hair', 'accessory']">
            <label class="flex items-center justify-center flex-1 px-5 py-2 text-base font-medium uppercase bg-blue-500 border-l border-r hover:bg-blue-400 border-r-blue-100 border-l-blue-900" :class="{ 'bg-blue-600 hover:bg-blue-600': $store.myAvime.tabs.gallery === trait }" x-on:click="$store.myAvime.tabs.gallery = trait" x-text="trait"></label>
          </template>
        </nav>

        <template x-for="trait in ['background', 'body', 'face', 'clothes', 'hair', 'accessory']">
          <div class="overflow-x-visible overflow-y-scroll bg-blue-600 border border-black rounded-b tab-panel" x-show.transition.in.opacity.duration.600="$store.myAvime.tabs.gallery === trait">
            <div class="max-h-[63.028412vh]">
              <ul class="grid grid-cols-1 gap-2 p-1 mx-auto mb-1 sm:grid-cols-2 lg:mb-2 lg:p-2 xl:grid-cols-3 w-max" x-data="{ cards: [] }" x-init="fetch(`/data/${trait}.json`).then(response => response.json()).then(data => cards = data)">
                <template x-for="item in cards">
                  <li class="relative z-10 text-sm leading-tight text-left w-max">
                    <span class="relative overflow-hidden block w-[362px] h-[361px] rounded-[11px]">
                      <img class="absolute inset-0 object-cover w-full h-full" alt="" draggable="false" x-bind:src="item.card">
                      <img class="absolute top-[20px] right-[21px] block w-[43px] h-[43px]" alt="" draggable="false" x-bind:src="item.thumb">
                      <img class="absolute top-[76px] block w-[160px] h-[160px]" alt="" draggable="false" :class="{ 'left-[101px]': (trait === 'background'), 'left-[21px]': (trait !== 'background') }" x-bind:src="item.female">
                      <img class="absolute top-[76px] right-[21px] block w-[160px] h-[160px]" alt="" draggable="false" x-bind:src="item.male" x-show="(trait !== 'background')">
                      <span class="absolute top-[20px] left-[21px] flex items-center w-[265px] h-[43px] px-2 py-3 normal-case leading-none text-sm text-black" x-text="item.name"></span>
                      <span class="absolute bottom-[48px] left-[21px] flex items-start w-[320px] h-[64px] p-2 normal-case text-sm text-black" x-text="item.desc"></span>
                      <span class="absolute bottom-[7px] right-[36px] block w-[63px] text-center text-[0.7rem] text-blue-500 uppercase" x-text="(`ID: ${item.ID}`)"></span>
                    </span>
                  </li>
                </template>
              </ul>
            </div>
          </div>
        </template>
      </div>

      <button class="inline-flex items-center justify-center px-5 py-2 text-base font-medium text-white uppercase bg-red-500 border border-black rounded hover:bg-red-600 shadow-inset-white scroll-unlock" x-on:click="modal = false">Close</button>
    </div>
  </div>
</div>
