[x-cloak] {
  display: none;
}

html {
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  shape-rendering: crispEdges;
  -ms-interpolation-mode: nearest-neighbor;
}

body {
  @apply font-sans;
}

.brand {
  @apply text-3xl font-medium text-indigo-500;
}

.responsive-embed {
  @apply relative overflow-hidden h-0;

  padding-bottom: 75%;

  &.widescreen {
    padding-bottom: 56.25%;
  }

  & iframe,
  & object,
  & embed,
  & video {
    @apply absolute top-0 left-0 h-full w-full;
  }
}

.skip-link {
  @apply absolute block overflow-hidden;

  z-index: 999;
  clip: rect(1px, 1px, 1px, 1px);
  height: theme('spacing.px');
  width: theme('spacing.px');

  &:focus {
    clip: auto;
    height: auto;
    overflow: visible;
    width: auto;
  }
}

.stretched-link::after {
  @apply absolute inset-0 z-10 bg-transparent pointer-events-auto;

  content: "";
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 998;

  &.backdrop-shaded {
    background: rgba(0,0,0,.5);
    backdrop-filter: blur(5px);
  }

  &.backdrop-black {
    background: #000;
  }
}

.body-scroll-lock {
  touch-action: none;
  overflow: hidden;
}

.text-shadow-blue {
  text-shadow: -1px -1px 0px theme('colors.blue.500'),
                0px -1px 0px theme('colors.blue.500'),
                1px -1px 0px theme('colors.blue.500'),
               -1px  0px 0px theme('colors.blue.500'),
                1px  0px 0px theme('colors.blue.500'),
               -1px  1px 0px theme('colors.blue.500'),
                0px  1px 0px theme('colors.blue.500'),
                1px  1px 0px theme('colors.blue.500');
}

.text-shadow-heading {
  -webkit-text-stroke: 1px #fd9999;
  text-shadow: -1px -1px 0px theme('colors.blue.500'),
                0px -1px 0px theme('colors.blue.500'),
                1px -1px 0px theme('colors.blue.500'),
               -1px  0px 0px theme('colors.blue.500'),
                1px  0px 0px theme('colors.blue.500'),
               -1px  1px 0px theme('colors.blue.500'),
                0px  1px 0px theme('colors.blue.500'),
                1px  1px 0px theme('colors.blue.500'),
               -2px -2px 0px theme('colors.blue.500'),
               -1px -2px 0px theme('colors.blue.500'),
                0px -2px 0px theme('colors.blue.500'),
                1px -2px 0px theme('colors.blue.500'),
                2px -2px 0px theme('colors.blue.500'),
                2px -1px 0px theme('colors.blue.500'),
                2px  0px 0px theme('colors.blue.500'),
                2px  1px 0px theme('colors.blue.500'),
                2px  2px 0px theme('colors.blue.500'),
                1px  2px 0px theme('colors.blue.500'),
                0px  2px 0px theme('colors.blue.500'),
               -1px  2px 0px theme('colors.blue.500'),
               -2px  2px 0px theme('colors.blue.500'),
               -2px  1px 0px theme('colors.blue.500'),
               -2px  0px 0px theme('colors.blue.500'),
               -2px -1px 0px theme('colors.blue.500');
}

.text-shadow-heading-darker {
  -webkit-text-stroke: 1px #fd9999;
  text-shadow: -1px -1px 0px theme('colors.blue.600'),
                0px -1px 0px theme('colors.blue.600'),
                1px -1px 0px theme('colors.blue.600'),
               -1px  0px 0px theme('colors.blue.600'),
                1px  0px 0px theme('colors.blue.600'),
               -1px  1px 0px theme('colors.blue.600'),
                0px  1px 0px theme('colors.blue.600'),
                1px  1px 0px theme('colors.blue.600'),
               -2px -2px 0px theme('colors.blue.600'),
               -1px -2px 0px theme('colors.blue.600'),
                0px -2px 0px theme('colors.blue.600'),
                1px -2px 0px theme('colors.blue.600'),
                2px -2px 0px theme('colors.blue.600'),
                2px -1px 0px theme('colors.blue.600'),
                2px  0px 0px theme('colors.blue.600'),
                2px  1px 0px theme('colors.blue.600'),
                2px  2px 0px theme('colors.blue.600'),
                1px  2px 0px theme('colors.blue.600'),
                0px  2px 0px theme('colors.blue.600'),
               -1px  2px 0px theme('colors.blue.600'),
               -2px  2px 0px theme('colors.blue.600'),
               -2px  1px 0px theme('colors.blue.600'),
               -2px  0px 0px theme('colors.blue.600'),
               -2px -1px 0px theme('colors.blue.600');
}

.text-stroke-subheading {
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.75);
  -webkit-text-fill-color: currentColor;
  text-shadow: -1px -1px 0px currentColor,
                0px -1px 0px currentColor,
                1px -1px 0px currentColor,
               -1px  0px 0px currentColor,
                1px  0px 0px currentColor,
               -1px  1px 0px currentColor,
                0px  1px 0px currentColor,
                1px  1px 0px currentColor;
}

.shadow-white {
  box-shadow: 0px 0px 0px 1px theme('colors.white');
}

.shadow-inset-white {
  box-shadow: inset 0px 0px 0px 1px theme('colors.white');
}

.shadow-blue-100 {
  box-shadow: 0px 0px 0px 1px theme('colors.blue.100');
}

.shadow-tab-blue-100 {
  box-shadow: -1px -1px 0px 0px theme('colors.blue.100'),
               1px -1px 0px 0px theme('colors.blue.100');
}

.shadow-inset-blue-100 {
  box-shadow: inset 0px 0px 0px 1px theme('colors.blue.100');
}

.shadow-blue-900 {
  box-shadow: 0px 0px 0px 1px theme('colors.blue.900');
}

.shadow-inset-blue-900 {
  box-shadow: inset 0px 0px 0px 1px theme('colors.blue.900');
}

.shadow-blue-box {
  box-shadow: -1px 1px 0px 1px theme('colors.blue.100'),
              1px -1px 0px 1px theme('colors.blue.600');
}

.shadow-inset-blue-box {
  box-shadow: inset -1px  1px 0px 1px theme('colors.blue.100'),
              inset  1px -1px 0px 1px theme('colors.blue.600');
}

.shadow-yellow-box {
  box-shadow: -1px  1px 0px 1px theme('colors.yellow.100'),
               1px -1px 0px 1px theme('colors.yellow.600');
}

.shadow-inset-yellow-box {
  box-shadow: inset -1px  1px 0px 1px theme('colors.yellow.100'),
              inset  1px -1px 0px 1px theme('colors.yellow.600');
}

.image-bevel {
  @apply relative overflow-hidden rounded;

  &::after {
    @apply absolute inset-0 flex w-full h-full items-center justify-center border border-black rounded;

    content: '';
    box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.75);
  }
}

.heading-label {
  -webkit-text-stroke: 0;
}

.heading-label::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  display: block;
  width: 100%;
  height: 25%;
  background-color: theme('colors.blue.500');
  border-radius: 2px;
  transform: translate(-50%, -50%);
}

[id="hero-bg"] {
  background-image: url('/images/hero_bg.png');
  background-attachment: fixed;
  background-size: 430px;

  @screen lg {
    background-size: 860px;
  }
}

[id="mint"] {
  background-color: #1c7bac;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%23166c98' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
  box-shadow: inset 0px  2px 0px 0px theme('colors.blue.100'),
              inset 0px -2px 0px 0px theme('colors.blue.600');
}

[id="mint-interface"] {
  box-shadow: -1px  1px 0px 1px theme('colors.blue.100'),
               1px -1px 0px 1px theme('colors.blue.600');
}

[id="main"] {
  background-color: #b3ebef;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23659194' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  background-attachment: fixed;
}

[id="faq-wrap"] {
  background-color: #1c7bac;
  background-image: url('/images/bg_wardrobe.png');
  box-shadow: inset 0px  2px 0px 0px theme('colors.blue.100'),
              inset 0px -2px 0px 0px theme('colors.blue.600');
}

[id="footer"] {
  background-color: #05202f;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%230a2f43' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
}
