[x-cloak] {
  display: none;
}

html {
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  shape-rendering: crispEdges;
  -ms-interpolation-mode: nearest-neighbor;
}

body {
  @apply font-sans;
}

.brand {
  @apply text-3xl font-medium text-indigo-500;
}

.responsive-embed {
  @apply relative overflow-hidden h-0;

  padding-bottom: 75%;

  &.widescreen {
    padding-bottom: 56.25%;
  }

  & iframe,
  & object,
  & embed,
  & video {
    @apply absolute top-0 left-0 h-full w-full;
  }
}

.skip-link {
  @apply absolute block overflow-hidden;

  z-index: 999;
  clip: rect(1px, 1px, 1px, 1px);
  height: theme('spacing.px');
  width: theme('spacing.px');

  &:focus {
    clip: auto;
    height: auto;
    overflow: visible;
    width: auto;
  }
}

.stretched-link::after {
  @apply absolute inset-0 z-10 bg-transparent pointer-events-auto;

  content: "";
}

.text-shadow-blue {
  text-shadow: 1px 0 0 theme('colors.blue.500'),
               0 1px 0 theme('colors.blue.500'),
               -1px 0 0 theme('colors.blue.500'),
               0 -1px 0 theme('colors.blue.500');
}

.text-shadow-heading {
  text-shadow: 2px 0 0 theme('colors.blue.500'),
               0 2px 0 theme('colors.blue.500'),
               -2px 0 0 theme('colors.blue.500'),
               0 -2px 0 theme('colors.blue.500');
}

.shadow-inner-white {
  box-shadow: inset 0px 0px 0px 1px theme('colors.white');
}

.shadow-inner-blue-box {
  box-shadow: inset -1px 1px 0px 1px theme('colors.blue.100'),
              inset 1px -1px 0px 1px theme('colors.blue.600');
}

.heading-label::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  display: block;
  width: 100%;
  height: 25%;
  background-color: theme('colors.blue.500');
  border-radius: 2px;
  transform: translate(-50%, -50%);
}

section[id="cta"] {
  background-color: #1c7bac;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%230f415a' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

section[id="about"] {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23999999' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

section[id="faqs"] {
  background-color: #b3ebef;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%2324a5ae' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

section[id="roadmap"] {
  background-color: #f5eddd;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23b89f6f' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

section[id="team"] {
  background-color: #a5d1ff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%234777a9' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

footer[id="footer"] {
  background-color: #05202f;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23135f89' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}
